<!--
    <h1 class="svod" id="sv_date"> 3 апреля 2019</h1>
    <h2 class="svod_head1" id="sv_time"> 08:00:00</h2>

    <button id="btnRefreshData" type="button" onclick="refresh_data()">Обновить данные</button>
    <button id="btnRefreshOnOff" type="button" onclick="refresh_data_on()">Включить автообновление</button>
    <br>
    <br>
-->

    <div class="left puls0" onclick="show_hide('puls_div11');">
        <span class="pfont0" id="puls_h11">КОНТРОЛЬ</span>
        <div class="puls1" id="puls_div11" onclick="show_hide('leftcol');">111</div>
    </div>

    <div class="left puls0" onclick="show_hide('puls_div12');">
        <span class="pfont0" id="puls_h12">ЗАКАЗ</span>
        <div class="puls1" id="puls_div12">222</div>
    </div>

    <div class="left puls0" onclick="show_hide('puls_div13');">
        <span class="pfont0" id="puls_h13">МАТЕРИАЛЫ</span>
        <div class="puls1" id="puls_div13">333</div>
    </div>

    <div class="left puls0" onclick="show_hide('puls_div14');">
        <span class="pfont0" id="puls_h14">ОТГРУЗКА</span>
        <div class="puls1" id="puls_div14">444</div>
    </div>

    <br>
    <br>

<!--
    <div class="puls100 wrapper_2">
        <h1 class="puls" id="puls_h1">КОНТРОЛЬ</h1>


        <button type="button" id="btn_calc_report33" onclick="clc_report33(); document.getElementById('tbl33').style.display = 'block'" >Пересчитать</button>
        <button type="button" id="btn_calc_report33" onclick="document.getElementById('tbl33').style.display = 'none';" >Скрыть</button><br>


    <div class="left puls" id="puls_div1" >
        <div class="puls" onclick="show_hide('puls_div11');">
        <h1 class="puls" id="puls_h1">ЗАКАЗ</h1>
        </div>
        <div class="puls" id="puls_div11">
        <table class="svod">
            <tr>
                <td class="svod_head1">Загрузка</td>
                <td></td>
            </tr>
            <tr>
                <td class="svod_label">3 пролёт</td>
                <td class="svod_digit" id="puls_t11">100%</td>
            </tr>
            <tr>
                <td class="svod_label">4 пролёт</td>
                <td class="svod_digit" id="puls_t12">95%</td>
            </tr>
            <tr> <td id="sv_col2_error"></td> <td></td></tr>
        </table>
        </div>
    </div>


    <div class="left puls" id="sc_col2" >
        <h1 class="puls" id="puls_h2">МАТЕРИАЛЫ</h1>
<br>
        <table class="svod">
            <tr>
                <td class="svod_head1">На сколько дней осталось </td>
                <td></td>
            </tr>
            <tr>
                <td class="svod_label">Бетон</td>
                <td class="svod_digit" id="puls_t21">3</td>
            </tr>
            <tr>
                <td class="svod_label">Арматура</td>
                <td class="svod_digit" id="puls_t22">5</td>
            </tr>
            <tr> <td id="sv_col2_error"></td> <td></td></tr>
        </table>
    </div>


    <div class="left puls" id="sc_col3" >
        <h1 class="puls" id="puls_h3">ОТГРУЗКА</h1>
        <table class="svod">
            <tr>
                <td class="svod_head1">На сколько дней осталось места на складе</td>
                <td></td>
            </tr>
            <tr>
                <td class="svod_label">3 пролёт</td>
                <td class="svod_digit" id="puls_t31">7</td>
            </tr>
            <tr>
                <td class="svod_label">4 пролёт</td>
                <td class="svod_digit" id="puls_t32">5</td>
            </tr>
            <tr> <td id="sv_col2_error"></td> <td></td></tr>
        </table>
    </div>


    </div>

-->

<script>

    // Показать, спрятать таблицу
    function show_hide(div_id)
    {
        var dv = document.getElementById(div_id);
        if (dv.style.display != 'none')
            dv.style.display = 'none'
        else dv.style.display = 'block';
    }






</script>
