<!--
    <h1 class="svod" id="sv_date"> 3 апреля 2019</h1>
    <h2 class="svod_head1" id="sv_time"> 08:00:00</h2>

    <button id="btnRefreshData" type="button" onclick="refresh_data()">Обновить данные</button>
    <button id="btnRefreshOnOff" type="button" onclick="refresh_data_on()">Включить автообновление</button>
    <br>
    <br>
<button id="btnRefreshData" type="button" onclick="show_hide('puls_div13')">Обновить данные</button>
-->
<div>
    <span id="plan_name"></span>
</div>

<br>
<div class="left puls0">
    <span class="pfont0" id="puls_h11" onclick="show_hide('puls_div11');">КОНТРОЛЬ</span>
    <div class="puls1" id="puls_div11" style="display: none;">
        <a href="/reports/svod" target="_blank">Показать ИТОГИ</a>
    </div>
</div>

<div class="left puls0">
    <span class="pfont0" id="puls_h12" onclick="get_puls_zakaz();">ЗАКАЗ</span>
    <div class="puls1" id="puls_div12" style="display: none;" title="
            Максимальня, 100%, эффективность показывает сколько кубов ЖБИ могли сделать на текущий момент
            имея максимально возможное кол-во форм и работая круглосуточно с полной загрузкой.<br>
            Эффективность - это сколько процентов от этого кол-ва сделали фактически на текущий день месяца.
">222
    </div>
</div>

<div class="left puls0">
    <span class="pfont0" id="puls_h13" onclick="get_puls_mat();">МАТЕРИАЛЫ</span>
    <div class="puls1" id="puls_div13" style="display: none;">333</div>
</div>

<div class="left puls0">
    <span class="pfont0" id="puls_h14" onclick="get_puls_otgr();">ОТГРУЗКА</span>
    <div class="puls1" id="puls_div14" style="display: none;">444</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<table>
    <tr class="reports">
        <td>

            <div style='overflow: auto;'>

                <button id="btnEffOnOff2" type="button" onclick="eff_fcv_auto_on()"><b>ЭФФЕКТИВНОСТЬ ФОРМОВКИ ПО ПРОЛЁТАМ</b></button>
            </div>

            <br>
            <div id="eff_fcv" align="left" style='float: left; overflow: auto;'></div>
        </td>
        <!--    <tr><td><canvas id="myChart2" height="30px" visible="false"></canvas></td></tr>-->

    </tr>

    <tr class="reports">
        <td>

            <div style='overflow: auto;'>
                <button id="btnEffOnOff" type="button" onclick="eff_auto_on()"><b>ГАЗ и ЭЛЕКТРИЧЕСТВО</b></button>
            </div>
            <br>
            <div id="eff" align="left" style='float: left; overflow: auto;'></div>
        </td>
        <!--    <tr><td><canvas id="myChart2" height="30px" visible="false"></canvas></td></tr>-->

    </tr>

    <tr class="reports">
        <td>

            <div style='overflow: auto;'>
                <button id="btnEffPSOnOff" type="button" onclick="get_ps_efficiency()"><b>ЭФФЕКТИВНОСТЬ ПОВРЕМЕННЫХ СЛУЖБ</b></button>
            </div>
            <br>
            <div id="effps"></div>
        </td>
        <!--    <tr><td><canvas id="myChart2" height="30px" visible="false"></canvas></td></tr>-->

    </tr>
</table>
<!--
<a href="/reports/inform_any?action=show_arm_ost_daily" target="_blank">Показать прогноз по ежедневным остаткам металла</a>

    <div class="puls100 wrapper_2">
        <h1 class="puls" id="puls_h1">КОНТРОЛЬ</h1>


        <button type="button" id="btn_calc_report33" onclick="clc_report33(); document.getElementById('tbl33').style.display = 'block'" >Пересчитать</button>
        <button type="button" id="btn_calc_report33" onclick="document.getElementById('tbl33').style.display = 'none';" >Скрыть</button><br>


    <div class="left puls" id="puls_div1" >
        <div class="puls" onclick="show_hide('puls_div11');">
        <h1 class="puls" id="puls_h1">ЗАКАЗ</h1>
        </div>
        <div class="puls" id="puls_div11">
        <table class="svod">
            <tr>
                <td class="svod_head1">Загрузка</td>
                <td></td>
            </tr>
            <tr>
                <td class="svod_label">3 пролёт</td>
                <td class="svod_digit" id="puls_t11">100%</td>
            </tr>
            <tr>
                <td class="svod_label">4 пролёт</td>
                <td class="svod_digit" id="puls_t12">95%</td>
            </tr>
            <tr> <td id="sv_col2_error"></td> <td></td></tr>
        </table>
        </div>
    </div>


    <div class="left puls" id="sc_col2" >
        <h1 class="puls" id="puls_h2">МАТЕРИАЛЫ</h1>
<br>
        <table class="svod">
            <tr>
                <td class="svod_head1">На сколько дней осталось </td>
                <td></td>
            </tr>
            <tr>
                <td class="svod_label">Бетон</td>
                <td class="svod_digit" id="puls_t21">3</td>
            </tr>
            <tr>
                <td class="svod_label">Арматура</td>
                <td class="svod_digit" id="puls_t22">5</td>
            </tr>
            <tr> <td id="sv_col2_error"></td> <td></td></tr>
        </table>
    </div>


    <div class="left puls" id="sc_col3" >
        <h1 class="puls" id="puls_h3">ОТГРУЗКА</h1>
        <table class="svod">
            <tr>
                <td class="svod_head1">На сколько дней осталось места на складе</td>
                <td></td>
            </tr>
            <tr>
                <td class="svod_label">3 пролёт</td>
                <td class="svod_digit" id="puls_t31">7</td>
            </tr>
            <tr>
                <td class="svod_label">4 пролёт</td>
                <td class="svod_digit" id="puls_t32">5</td>
            </tr>
            <tr> <td id="sv_col2_error"></td> <td></td></tr>
        </table>
    </div>


    </div>

-->

<script>

    var is_start = true;
    var PlanName = toYYYYMM(new Date());


    // Показать, спрятать таблицу
    function show_hide(div_id) {
        var dv = document.getElementById(div_id);
        if (dv.style.display != 'none')
            dv.style.display = 'none';
        else dv.style.display = 'block';
    }


    //
    var set_puls_zakaz = function (reply) {
//        document.getElementById("puls_div12").style.display = 'block';
//        document.getElementById("puls_div12").innerHTML = reply;

        if (is_start == false)
            document.getElementById("puls_div12").style.display = 'block';

        // Заголовок, который надо будет раскрасить в зависимости от результатов запроса
        var d14 = document.getElementById("puls_h12");

        document.getElementById("puls_div12").innerHTML = reply;

        if (reply.substr(0, 6) == 'ОШИБКА') return;

        var min_days1 = +document.getElementById("mindays1").innerHTML;

        if (min_days1 >= 20) d14.className = 'pfont0 green';
        else if (min_days1 >= 15) d14.className = 'pfont0 yellow';
        else d14.className = 'pfont0 red';
    };

    function get_puls_zakaz() {
        if (document.getElementById("puls_div12").style.display != 'none')
            document.getElementById("puls_div12").style.display = 'none';
        else
            doQuery("/reports/get_puls_zakaz", set_puls_zakaz);
    }


    // Прогноз ОСТАТКОВ МАТЕРАЛОВ на складе по дням начиная от сегодня (на сколько дней хватит)
    var set_puls_mat = function (reply) {
        if (is_start == false)
            document.getElementById("puls_div13").style.display = 'block';

        // Заголовок, который надо будет раскрасить в зависимости от результатов запроса
        var d13 = document.getElementById("puls_h13");

        document.getElementById("puls_div13").innerHTML = reply;

        if (reply.substr(0, 6) == 'ОШИБКА') return;

        var bet_days = +document.getElementById("puls_t21").innerHTML;
        var arm_days = +document.getElementById("puls_t22").innerHTML;

        var min_days = Math.min(bet_days, arm_days);
        //var min_days = arm_days;

        if (min_days >= 7) d13.className = 'pfont0 green';
        else if (min_days >= 3) d13.className = 'pfont0 yellow';
        else d13.className = 'pfont0 red';

    };

    function get_puls_mat() {
        if (document.getElementById("puls_div13").style.display != 'none')
            document.getElementById("puls_div13").style.display = 'none';
        else
            doQuery("/reports/get_puls_mat", set_puls_mat);
    }


    // Прогноз МЕСТА НА СКЛАДЕ по дням начиная от сегодня (на сколько дней хватит)
    var set_puls_otgr = function (reply) {
        if (is_start == false)
            document.getElementById("puls_div14").style.display = 'block';

        // Заголовок, который надо будет раскрасить в зависимости от результатов запроса
        var d14 = document.getElementById("puls_h14");

        document.getElementById("puls_div14").innerHTML = reply;

        if (reply.substr(0, 6) == 'ОШИБКА') return;

        var min_days4 = +document.getElementById("mindays4").innerHTML;
//alert('xxx');
        if (min_days4 >= 7) d14.className = 'pfont0 green';
        else if (min_days4 >= 3) d14.className = 'pfont0 yellow';
        else d14.className = 'pfont0 red';
    };

    function get_puls_otgr() {
        if (document.getElementById("puls_div14").style.display != 'none')
            document.getElementById("puls_div14").style.display = 'none';
        else
            doQuery("/reports/get_puls_otgr", set_puls_otgr);
    }

    function is_not_start() {
        is_start = false
    }

    //==============================================================================================

    // Эффективность работы повременных служб
    function get_ps_efficiency()
    {
        doQuery ("/reports/get_ps_efficiency", set_ps_efficiency,
                '&plan_name=' + encodeURIComponent(PlanName)
        );
    }

    var  set_ps_efficiency = function (reply)
    {
//        alert(reply);

        let div_ps = document.getElementById('effps');
        let btn_ps = document.getElementById('btnEffPSOnOff');

        if (div_ps.innerHTML === '') {
            div_ps.innerHTML = 'Шкала слева показывать кол-во рабочих часов в сутки, 11 - это одна смена, 22 - это две смены <br>' +
                    'Шкала эффективности должна быть до 100%, но поскольку здесь максимальное значение шкалы 25, то 25 - это как бы 100%, такой масштаб 1:4<br>' +
                    '<canvas id="myChartEffPS" height="30px"  visible="true"></canvas>';
//            btn_ps.innerHTML = 'Спрятать';
        }
        else {
            div_ps.innerHTML = '';
//            btn_ps.innerHTML = 'Показать';
        }


        let ds = [];
        let colors = ["red", "green", "blue", "yellow"];

        let canvas = document.getElementById('myChartEffPS');
        let ctx = canvas.getContext('2d');

        let x = reply.split(';');
        let z = [];

        //       for (let i = 0; i < 1; i++ ) {
        for (let i = 0; i < x.length-1; i++ ) {
            let y = x[i].split('!');
            z[i] = y[1].split(':');
//           alert(z[i]);
//            ds.push({label: y[0], borderColor: colors[i],  data: z[i]});
            ds.push({label: y[0], borderColor: colors[i], steppedLine: true, data: z[i]});
        }
        //       alert(ds[1].data);
        let n = x.length + 1;
        z[n] = [];
        for (let i = 0; i < 31; i++) {

            z[n][i] = (+z[0][i] + +z[1][i]) / (+z[2][i] * 2) * 25;
//            if (i > 9 && i < 14)    alert('('+z[0][i] + '+' + z[1][i] +') / (' + z[2][i] + ' * 2) = '+ z[n][i]);
            // Последний множитель должен быть 100, то есть 100%, но сейчас шкала до 25, поэтому привел к текущей шкале
        }
//        alert(z[0]+z[1]+z[2]+z[n]);
        ds.push({label: "Эффективность", borderColor: "magenta", steppedLine: true, data: z[n]});

        let chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                //                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
                datasets: ds
            },

            // Configuration options go here
            options: {}
        });


    };



    // ЭФФЕКТИВНОСТЬ
    function eff_auto_on()
    {
        if (document.getElementById("eff").innerHTML === '') {
            get_eff();
//            document.getElementById("btnEffOnOff").innerHTML = 'Спрятать';
        }
        else {
 //           document.getElementById("btnEffOnOff").innerHTML = 'Показать';
            document.getElementById("eff").innerHTML = '';
        }
    }
    var set_eff = function (reply)
    {
        document.getElementById("eff").innerHTML = reply;

        doQuery ("/reports/get_eff_data", set_eff_chart,
                '&dtb=' + encodeURIComponent(PlanFirstDateAsSting(PlanName))+
                '&dte=' + encodeURIComponent(PlanLastDateAsSting(PlanName))
        );
    };
    function get_eff()
    {
        doQuery ("/reports/get_eff", set_eff,
                '&dtb=' + encodeURIComponent(PlanFirstDateAsSting(PlanName))+
                '&dte=' + encodeURIComponent(PlanLastDateAsSting(PlanName))
        );
    }

    // Построение диаграммы: объемы формовки по дням
    var  set_eff_chart = function (reply)
    {
        let colors = ["green","grey", "blue", "yellow", "orange"];
        let y = [];
        let eff = [];

        let x = reply.split(';');

        for (let i=1; i < x.length-1; i++) {
//alert('x'+i+'='+x[i]);
            let z = x[i].split('!');
            y[i] = z[1].split(':');

            let canvas = document.getElementById('myChartEff'+(i));
            let ctx = canvas.getContext('2d');

            let chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    //                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
                    datasets: [
                        {
                            label: z[0],
                            borderColor: colors[i],
                            data: y[i],
                        }
                    ]
                },

                // Configuration options go here
                options: {}
            });

        }

        let canvas2 = document.getElementById('myChartEffEff');
        let ctx2 = canvas2.getContext('2d');

        eff[1] = []; // Газ
        eff[2] = []; // Электричество
        for (let i = 0; i < 31; i++) {

            eff[1][i] = (+y[1][i] === 0) ? 0 : ((+y[2][i] / +y[1][i]) );
            eff[2][i] = (+y[1][i] === 0) ? 0 :  ((+y[4][i] / +y[1][i]));

            //
        }

        let chart2 = new Chart(ctx2, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                //                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
                datasets: [
                    {
                        label: 'Газ',
                        borderColor: colors[2],
                        data: eff[1],
                    },
                    {
                        label: 'Электричество',
                        borderColor: colors[4],
                        data: eff[2],
                    }
                ]
            },

            // Configuration options go here
            options: {}
        });

    };




    // ЭФФЕКТИВНОСТЬ ФОРМОВКИ
    function eff_fcv_auto_on()
    {
        if (document.getElementById("eff_fcv").innerHTML === '') {
            get_eff_fcv();
//            document.getElementById("btnEffOnOff2").innerHTML = 'Спрятать';
        }
        else {
//            document.getElementById("btnEffOnOff2").innerHTML = 'Показать';
            document.getElementById("eff_fcv").innerHTML = '';
        }
    }
    var set_eff_fcv = function (reply)
    {
        document.getElementById("eff_fcv").innerHTML = reply;

        doQuery ("/reports/get_eff_fcv_data", set_eff_fcv_chart,
                '&dtb=' + encodeURIComponent(PlanFirstDateAsSting(PlanName))+
                '&dte=' + encodeURIComponent(PlanLastDateAsSting(PlanName))
        );
    };
    function get_eff_fcv()
    {
        doQuery ("/reports/get_eff_fcv", set_eff_fcv,
                '&dtb=' + encodeURIComponent(PlanFirstDateAsSting(PlanName))+
                '&dte=' + encodeURIComponent(PlanLastDateAsSting(PlanName))
        );
    }



    // Построение диаграммы: эффективность формовки по дням
    var  set_eff_fcv_chart = function (reply)
    {
        let colors = ["green","grey", "blue", "red", "orange"];
        let y = [];
        let label = [];
        let eff = [];
        let sumv = [0,0,0,0,0];

        let x = reply.split(';');

        for (let i=1; i < x.length-1; i++) {
//alert('x'+i+'='+x[i]);
            let z = x[i].split('!');
            y[i] = z[1].split(':');
            label[i] = z[0];
        }

        eff[1] = []; // Пролет 33
        eff[2] = []; // Пролет 34
        for (let i = 0; i < 31; i++) {

            sumv[1] += +y[1][i];
            sumv[2] += +y[2][i];
            sumv[3] += +y[3][i];
            sumv[4] += +y[4][i];

//            eff[1][i] = (+sumv[1] === 0) ? 0 : ((+sumv[2] / +sumv[1]) * 100 );
            eff[1][i] = (+sumv[1] === 0) ? 0 : ((+sumv[2] / +sumv[1]) * +y[1][i] );
            eff[2][i] = (+sumv[3] === 0) ? 0 : ((+sumv[4] / +sumv[3]) * +y[3][i] );

//            alert(sumv[1] +',' + sumv[2]+','+ eff[1][i]);

//            eff[2][i] = (+y[1][i] === 0) ? 0 :  ((+y[4][i] / +y[1][i]));
//            eff[1][i] = (+y[1][i] === 0) ? 0 : ((+y[2][i] / +y[1][i]) );
//            eff[2][i] = (+y[1][i] === 0) ? 0 :  ((+y[4][i] / +y[1][i]));

            //
        }


        let canvas = document.getElementById('myChartEffFcv2');
            let ctx = canvas.getContext('2d');

            let chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    //                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
                    datasets: [
                        {
                            label: label[1],
                            borderColor: colors[1],
                            data: y[1],
                        },
                        {
                            label: label[2],
                            borderColor: colors[2],
                            data: y[2],
                        },
                        {
                            label: 'Эффективность',
                            borderColor: colors[3],
                            data: eff[1],
                        },
                    ]
                },

                // Configuration options go here
                options: {}
            });

         canvas = document.getElementById('myChartEffFcv4');
         ctx = canvas.getContext('2d');

        chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                //                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
                datasets: [
                    {
                        label: label[3],
                        borderColor: colors[1],
                        data: y[3],
                    },
                    {
                        label: label[4],
                        borderColor: colors[2],
                        data: y[4]
                    },
                    {
                        label: 'Эффективность',
                        borderColor: colors[3],
                        data: eff[2],
                    }
                ]
            },

            // Configuration options go here
            options: {}
        });

/*
        let canvas2 = document.getElementById('myChartEffEff');
        let ctx2 = canvas2.getContext('2d');

        eff[1] = []; // Газ
        eff[2] = []; // Электричество
        for (let i = 0; i < 31; i++) {

            eff[1][i] = (+y[1][i] === 0) ? 0 : ((+y[2][i] / +y[1][i]) );
            eff[2][i] = (+y[1][i] === 0) ? 0 :  ((+y[4][i] / +y[1][i]));

            //
        }

        let chart2 = new Chart(ctx2, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                //                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
                datasets: [
                    {
                        label: 'Газ',
                        borderColor: colors[2],
                        data: eff[1],
                    },
                    {
                        label: 'Электричество',
                        borderColor: colors[4],
                        data: eff[2],
                    }
                ]
            },

            // Configuration options go here
            options: {}
        });
*/
    };















    document.getElementById("plan_name").innerHTML = PlanName;

    get_puls_zakaz();
    get_puls_mat(); //document.getElementById("puls_div13").style.display = 'none';
    get_puls_otgr();

    setTimeout(is_not_start, 1500);

</script>
