<H2>На сколько дней хватит металла</H2>



1. Получить текущий день месяца


2. Получить текущие остатки металла на начало дня.
Где хранить???
Хотя сначала давай получим.




3. Слить остатки с планом начиная с текущего дня и на 7 дней вперёд.
За каждый день накопительно вычитать план из остатков и смотреть сколько осталось металла, раскрашивать в зависимости от значения.