<div class="wrapper_2" >
<h1 class="svod" id="sv_date"> 3 апреля 2019</h1>
<h2 class="svod_head1" id="sv_time"> 08:00:00</h2>

    <button id="btnRefreshData" type="button" onclick="refresh_data()">Обновить данные</button>
    <button id="btnRefreshOnOff" type="button" onclick="refresh_data_on()">Включить автообновление</button>
    <br>
    <br>

    <div class="left" id="sc_col1" >
    <table class="svod">
        <tr>
            <td class="svod_head1">Формовочный цех</td>
            <td></td>
        </tr>
        <tr>
            <td class="svod_label">План <span class="comment1">(м.куб.)</span></td>
            <td class="svod_digit"  id="sv_plan"></td>
        </tr>
        <tr>
            <td class="svod_label">Формовка <span class="comment1">(м.куб.)</span></td>
            <td class="svod_digit" id="sv_form"></td>
        </tr>
        <tr>
            <td class="svod_label">Сдано <span class="comment1">(м.куб.)</span></td>
            <td class="svod_digit" id="sv_prihod"></td>
        </tr>
        <tr>
            <td class="svod_head">Детали КПД</td>
            <td></td>
        </tr>
        <tr>
            <td class="svod_label">Формовка <span class="comment1">(м.куб.)</span></td>
            <td class="svod_digit" id="sv_form_kpd"></td>
        </tr>
        <tr>
            <td class="svod_label">Сдано <span class="comment1">(м.куб.)</span></td>
            <td class="svod_digit" id="sv_prihod_kpd"></td>
        </tr>
        <tr>
            <td class="svod_head">ПДН-14</td>
            <td></td>
        </tr>
        <tr>
            <td class="svod_label">Сдано <span class="comment1">(шт)</span></td>
            <td class="svod_digit" id="sv_prihod_pdn14"></td>
        </tr>
        <tr>
            <td class="svod_head">ПДН-AV</td>
            <td></td>
        </tr>
        <tr>
            <td class="svod_label">Сдано <span class="comment1">(шт)</span></td>
            <td class="svod_digit" id="sv_prihod_pdnav"></td>
        </tr>
        <tr> <td id="sv_col1_error"></td> <td></td></tr>
    </table>
    <br><br>
</div>



<div class="left" id="sc_col2" > &nbsp; </div>

<div class="left" id="sc_col2" >
    <table class="svod">
        <tr>
            <td class="svod_head1">БСУ</td>
            <td></td>
        </tr>
        <tr>
            <td class="svod_label">Цемент (остаток)</td>
            <td class="svod_digit"  id="sv_cement_ost"></td>
        </tr>
        <tr>
            <td class="svod_label">Цементовозы <br>(общее кол-во)</td>
            <td class="svod_digit" id="sv_cementovoz"></td>
        </tr>
        <tr>
            <td class="svod_label">V (м.куб.)</td>
            <td class="svod_digit" id="sv_vm3"></td>
        </tr>
        <tr>
            <td class="svod_label">Расход цемента</td>
            <td class="svod_digit" id="sv_cement_rashod"></td>
        </tr>
        <tr> <td id="sv_col2_error"></td> <td></td></tr>
    </table>
    <br><br>
</div>

<div class="left" id="sc_col2" > &nbsp; </div>

<div class="left" id="sc_col2" >
    <table class="svod">
        <tr>
            <td class="svod_head1">СГП</td>
            <td></td>
        </tr>
        <tr>
            <td class="svod_label">Реализация <span class="comment1">(м.куб.)</span></td>
            <td class="svod_digit"  id="sv_rashod"></td>
        </tr>
        <tr>
            <td class="svod_label">КПД <span class="comment1">(м.куб.)</span></td>
            <td class="svod_digit" id="sv_kpd"></td>
        </tr>
        <tr>
            <td class="svod_label">Платформы <span class="comment1">(м.куб.)</span></td>
            <td class="svod_digit" id="sv_platform"></td>
        </tr>
        <tr>
            <td class="svod_head">ПДН</td>
            <td></td>
        </tr>
        <tr>
            <td class="svod_label">Расход <span class="comment1">(шт)</span></td>
            <td class="svod_digit" id="sv_rashod_pdn14"></td>
        </tr>
        <tr>
            <td class="svod_label">Остаток <span class="comment1">(шт)</span></td>
            <td class="svod_digit" id="sv_ost_pdn14"></td>
        </tr>
        <tr>
            <td class="svod_head">ПДН-AV</td>
            <td></td>
        </tr>
        <tr>
            <td class="svod_label">Расход <span class="comment1">(шт)</span></td>
            <td class="svod_digit" id="sv_rashod_pdnav"></td>
        </tr>
        <tr>
            <td class="svod_label">Остаток <span class="comment1">(шт)</span></td>
            <td class="svod_digit" id="sv_ost_pdnav"></td>
        </tr>
        <tr>
            <td class="svod_head">Свободные места</td>
            <td></td>
        </tr>
        <tr>
            <td class="svod_label">4 пролет</td>
            <td class="svod_digit" id="sv_svob4"></td>
        </tr>
        <tr>
            <td class="svod_label">5 пролет</td>
            <td class="svod_digit" id="sv_svob5"></td>
        </tr>
        <tr> <td id="sv_col2_error"></td> <td></td></tr>
    </table>
    <br><br>
</div>


</div>

<script>
    var timerRefreshId = 0;


    function get_sv_date()
    {
        var dtc = new Date();
        document.getElementById("sv_date").innerHTML = toRusDate(dtc);
        document.getElementById("sv_time").innerHTML = toTime(dtc);
    }

    // План ЖБИ
    var set_sv_plan = function (reply)
    {
        document.getElementById("sv_plan").innerHTML = reply;
    };
    function get_sv_plan()
    {
        doQuery ("/reports/get_sv_plan", set_sv_plan);
    }

    // Формовка ЖБИ за текущий месяц
    var set_sv_form = function (reply)
    {
        document.getElementById("sv_form").innerHTML = reply;
    };
    function get_sv_form()
    {
        doQuery ("/reports/get_sv_form", set_sv_form);
    }

    // Сдано на склад ЖБИ за текущий месяц
    var set_sv_prihod = function (reply)
    {
        document.getElementById("sv_prihod").innerHTML = reply;
    };
    function get_sv_prihod()
    {
        doQuery ("/reports/get_sv_prihod", set_sv_prihod);
    }

    // Сдано на склад ПДН-14 за текущий месяц
    var set_sv_prihod_pdn14 = function (reply)
    {
        document.getElementById("sv_prihod_pdn14").innerHTML = reply;
    };
    function get_sv_prihod_pdn14()
    {
        doQuery ("/reports/get_sv_prihod_pdn14", set_sv_prihod_pdn14);
    }

    // Сдано на склад ПДН-AV за текущий месяц
    var set_sv_prihod_pdnav = function (reply)
    {
        document.getElementById("sv_prihod_pdnav").innerHTML = reply;
    };
    function get_sv_prihod_pdnav()
    {
        doQuery ("/reports/get_sv_prihod_pdnav", set_sv_prihod_pdnav);
    }


    // Расход со склада ЖБИ за текущий месяц
    var set_sv_rashod = function (reply)
    {
        document.getElementById("sv_rashod").innerHTML = reply;
    };
    function get_sv_rashod()
    {
        doQuery ("/reports/get_sv_rashod", set_sv_rashod);
    }

    // Расход со склада _pdn14 за текущий месяц
    var set_sv_rashod_pdn14 = function (reply)
    {
        document.getElementById("sv_rashod_pdn14").innerHTML = reply;
    };
    function get_sv_rashod_pdn14()
    {
        doQuery ("/reports/get_sv_rashod_pdn14", set_sv_rashod_pdn14);
    }

    // Расход со склада _pdnav за текущий месяц
    var set_sv_rashod_pdnav = function (reply)
    {
        document.getElementById("sv_rashod_pdnav").innerHTML = reply;
    };
    function get_sv_rashod_pdnav()
    {
        doQuery ("/reports/get_sv_rashod_pdnav", set_sv_rashod_pdnav);
    }

    // Расход со склада _pdn14 за текущий месяц
    var set_sv_ost_pdn14 = function (reply)
    {
        document.getElementById("sv_ost_pdn14").innerHTML = reply;
    };
    function get_sv_ost_pdn14()
    {
        doQuery ("/reports/get_sv_ost_pdn14", set_sv_ost_pdn14);
    }

    // Расход со склада _pdnav за текущий месяц
    var set_sv_ost_pdnav = function (reply)
    {
        document.getElementById("sv_ost_pdnav").innerHTML = reply;
    };
    function get_sv_ost_pdnav()
    {
        doQuery ("/reports/get_sv_ost_pdnav", set_sv_ost_pdnav);
    }

    function refresh_data() {

    get_sv_date();

    get_sv_plan();
    get_sv_form();
    get_sv_prihod();
/*

    document.getElementById("sv_form_kpd").innerHTML = '313';
    document.getElementById("sv_sdano_kpd").innerHTML = '303';
*/
    get_sv_prihod_pdn14();
    get_sv_prihod_pdnav();

/*
    document.getElementById("sv_cement_ost").innerHTML = '2538';
    document.getElementById("sv_cementovoz").innerHTML = '21';
    document.getElementById("sv_vm3").innerHTML = '411';
    document.getElementById("sv_cement_rashod").innerHTML = '177';

    document.getElementById("sv_realiz").innerHTML = '410';
    document.getElementById("sv_kpd").innerHTML = '272';
    document.getElementById("sv_platform").innerHTML = '14/20';
*/

    get_sv_rashod();
    get_sv_rashod_pdn14();
    get_sv_rashod_pdnav();
    get_sv_ost_pdn14();
    get_sv_ost_pdnav();

/*
    document.getElementById("sv_pdn_rashod").innerHTML = '15';
    document.getElementById("sv_pdn_ost").innerHTML = '0';

    document.getElementById("sv_pdnav_rashod").innerHTML = '48';
    document.getElementById("sv_pdnav_ost").innerHTML = '82';

    document.getElementById("sv_svob4").innerHTML = '187';
    document.getElementById("sv_svob5").innerHTML = '110';
*/
    }

    // ФОРМОВКА
    function refresh_data_on()
    {
        if (timerRefreshId <= 0) {
            refresh_data();
            timerRefreshId = setInterval(refresh_data, 300000);
            document.getElementById("btnRefreshOnOff").innerHTML = 'Выключить автообновление';
        }
        else if (timerRefreshId > 0) {
            clearInterval(timerRefreshId);
            timerRefreshId = 0;
            document.getElementById("btnRefreshOnOff").innerHTML = 'Включить автообновление';
        }
    }

    refresh_data();
</script>