<h1> Импорт данных из файлов формируемых в 1С</h1>
Версия 2
<h2> Список файлов </h2>
<button type="button" onclick="auto_on()">Включить автозагрузку</button>
<button type="button" onclick="auto_off()">Выключить автозагрузку</button>
<div id="auto"></div>
<br>
<button type="button" onclick="get_filenames()">Получить имена файлов</button>
<!-- <button type="button" onclick="save_log()">Сохранить журнал загрузки</button> -->

<div id="filenames"></div>

Процесс загрузки
<div id="loads">123</div>


<script>
    'use strict';

    let timerId;

    function get_date() {
        return (new Date().toString().substr(0, 24));
    }


    function auto_on() {

        document.getElementById("auto").innerHTML = 'Автозагрузка включена<br>';
        timerId = setInterval(get_filenames, 3000);
    }

    function auto_off() {
        clearInterval(timerId);
        document.getElementById("auto").innerHTML = 'Автозагрузка выключена<br>';
        document.getElementById("loads").innerHTML = '';
        document.getElementById("filenames").innerHTML = '';

    }


    // Получить имена файлов
    function get_filenames() {
//        save_log();
//        document.getElementById("loads").innerHTML = '';
        doQuery("/import/1c8filenames2", set_filenames);
    }

    var set_filenames = function (reply) {
        document.getElementById("loads").innerHTML += reply;
        exit;


        if (reply.trim() != '') {
            let filenames = reply.split('\n');

            for (let i = 0; i < filenames.length; i++) {
                if (filenames[i] != '') {
                    document.getElementById("loads").innerHTML += get_date() + ' Загружаю: ' + filenames[i] + '<br>';
                    load_file2(filenames[i]);
                }
            }

//            setTimeout(load_files, 2000);
//            load_files();
        }
//        else
//          document.getElementById("filenames").innerHTML += get_date() + ' Пусто <br>';
    };


    function load_file2(filename) {
        if (filename == '')
            return;

        document.getElementById("loads").innerHTML += 'Загрузка файла: ' + filename + '<br>';

        // Тут проверка что за файл и как и куда его загружать
        if (filename.substring(17) == 'отгрузка ЖБИ.txt') {
//            doQuery ("/import/get_data", load_data_fcrashod, '&filename=' + encodeURIComponent(filename));
        } else if (filename.substring(17) == 'сдача ЖБИ.txt') {
//            doQuery ("/import/get_data", load_data_fcprihod, '&filename=' + encodeURIComponent(filename));
        } else if (filename.substring(17) == 'формовка ЖБИ.txt') {
//            doQuery ("/import/get_data", load_data_fcformovka, '&filename=' + encodeURIComponent(filename));
        } else if (filename.substring(17) == 'арматура в пролет.txt') {
//            doQuery ("/import/get_data", load_data_armrashod, '&filename=' + encodeURIComponent(filename));
        } else if (filename.substring(17) == 'выдача бетона.txt') {
//            doQuery ("/import/get_data", load_data_betrashod, '&filename=' + encodeURIComponent(filename));
        } else if (filename.substring(17) == 'приход БСУ.txt') {
//            doQuery ("/import/get_data", load_data_betrashod, '&filename=' + encodeURIComponent(filename));
        }

    }

</script>
