<h1> Импорт данных </h1>

<h2> Список файлов </h2>
<button type="button" onclick="auto_on()">Включить автозагрузку</button>
<button type="button" onclick="auto_off()">Выключить автозагрузку</button>
<div id="auto" ></div>
<br>
<button type="button" onclick="get_filenames()">Получить имена файлов</button>
<div id="filenames" ></div>

<button type="button" onclick="load_files()">Загрузить данные из файлов</button>
<div id="files" ></div>
Процесс загрузки
<div id="loads" ></div>


<script>
    var timerId;


    function auto_on() {

        document.getElementById("auto").innerHTML = 'Автозагрузка включена<br>';
        timerId = setInterval(get_filenames, 30000);
    }
    // начать повторы с интервалом 2 сек

    function auto_off() {
        clearInterval(timerId);
        document.getElementById("auto").innerHTML = 'Автозагрузка выключена<br>';
        document.getElementById("loads").innerHTML = '';
        document.getElementById("filenames").innerHTML = '';

    }

    function load_new() {
        document.getElementById("auto").innerHTML += 'Раз<br>';
    }


    function get_date() {

        return(new Date().toString());
    }

    //
    // Получить имена файлов
    //
    var filenames = '';
    var set_filenames = function (reply)
    {
        filenames = reply;

        if (filenames.trim() != '') {
            document.getElementById("filenames").innerHTML += get_date() + 'Загружаю <br>' + filenames;
            setTimeout(load_files, 2000);
//            load_files();
        }
//        else
//          document.getElementById("filenames").innerHTML += get_date() + ' Пусто <br>';

    }
    function get_filenames()
    {
        doQuery ("/import/1c8filenames", set_filenames);
    }

    //
    // Загрузить данные из файлов
    //
    function load_files()
    {
//        document.getElementById("loads").innerHTML = '';
//        document.getElementById("filenames").innerHTML = '';

        // Получаем массив имён файлов
        var files = filenames.split('\n<br>');

        // Помещаю имена файлов в таблицу и вызываю функцию загрузки
        var ret = ' <table class="list">';
        for (var i = 0; i < files.length; i++) {
            ret = ret + '<tr><td>' + files[i] + '</td></tr>';

            load_file2(files[i]);

            setTimeout(remove_file, i*1000+2000, files[i]);

        }
        ret = ret +'</table>';

        document.getElementById("files").innerHTML = ret;
    }
    //
    // Получение содержимого файла
    //
    function load_file2(filename)
    {
        document.getElementById("loads").innerHTML += filename + '<br>';

        if(filename != '')
            doQuery ("/import/get_data", load_data, '&filename=' + encodeURIComponent(filename));
    }
    //
    // Загрузка содержимого файла построчно
    //
    var load_data = function (reply)
    {
      var  text = reply;

      // Разбиваем текст на массив из строчек
      var lines = text.split('\n');

      // Цикл по строкам
      for (var i = 0; i < lines.length; i++) {

          // Разбиваем строку на поля
          var fields = lines[i].split('\t');

          if (fields.length != 6)
          {
            document.getElementById("loads").innerHTML += ' плохая строка [' + lines[i] + ']<br>';
            continue;
          }

          document.getElementById("loads").innerHTML += lines[i]+'- загрузка ...<br>';
          doQuery ("/import/load_string", load_string_reply,
                  '&string_no=' + encodeURIComponent(i+1)+
                  '&id1c=' + encodeURIComponent(fields[0].trim())+
                  '&dt=' + encodeURIComponent(fields[1])+
                  '&sklad_name=' + encodeURIComponent(fields[2].trim())+
                  '&cust_name=' + encodeURIComponent(fields[3].trim())+
                  '&fc_name=' + encodeURIComponent(fields[4].trim())+
                  '&fc_num=' + encodeURIComponent(fields[5])
          );

      }

      document.getElementById("loads").innerHTML += fields[0]+' - готово ... <br>';

//        document.getElementById("loads").innerHTML += text+'<br>---<br>';
    }

    var load_string_reply = function (reply)
    {
        document.getElementById("loads").innerHTML += reply;
    }


    function remove_file(filename)
    {
        if(filename == '')
          return;

//        document.getElementById("loads").innerHTML += 'Удалён файл '+ filename + '<br>';
//        if(filename != '')
          doQuery ("/import/remove_file", remove_file_reply, '&filename=' + encodeURIComponent(filename));
    }
    var remove_file_reply = function (reply)
    {
        document.getElementById("loads").innerHTML += reply;
    }






    //
    // Загрузка одного файла полностью на стороне сервера
    // НЕ РЕАЛИЗОВАНО
    //
    var load_file_done = function (reply)
    {
        document.getElementById("loads").innerHTML += reply;
    }
    function load_file(filename)
    {
      if(filename != '')
        doQuery ("/import/load_fcrashod", load_file_done, '&filename=' + encodeURIComponent(filename));
    }



</script>


