<div class="footer">
<hr>
<footer>

АСУ ЗКПД - Copyright © 2018 |
<a href="/jquery_test.html"><span style="color: lightgrey">Тест jQuery</span></a> |
<a href="/mylinks.html"><span style="color: lightgrey">Ссылки</span></a>




</footer>
</div>
