<div class="header">
Проект x321
    <span id="erro" class="red" >Проект закрыт, работает до 29.06.2020</span>
<a href="http://x321.ru:8080" target="_blank"> ### </a>
<!--    | ### ===> <a href="http://x321.ru:3000" >Социальная сеть ЗКПД</a>  ###-->
</div>
