<div class="header">
Проект x321
<a href="http://x321.ru:8080" target="_blank"> ### Скоро... "Новая версия программы" </a>
<!--    | ### ===> <a href="http://x321.ru:3000" >Социальная сеть ЗКПД</a>  ###-->
</div>
