<div class="top_menu" id="top_user_menu" ondblclick="">
    <nav>
        <a href="/">Главная</a> |
        <a href="/users/login">Вход</a> |
        <a href="/users/reg">Регистрация |</a>
    </nav>

    <div id="kkk" hidden onclick="sh1()"> wwwwwwwwwwwwwwwwwwwwwwwwwww
    </div>
    <div id="kkk2" hidden onclick="sh1()"> eeeeeeeeeeeeeeeeeee
    </div>
    <div  onclick="sh()"> покажи
    </div>
</div>

<div class="popup_menu xy" id="popup_menu" hidden onmouseenter=""></div>



<script>
    var pm = document.getElementById('popup_menu');
    var tm = document.getElementById('top_user_menu');
    var mie = document.getElementById('top_user_menu');
    var coords = getCoords(mie);

    // Скрыть всплывающее меню при отмене и потере фокуса
//    pm.onabort = function () { alert('esc');this.style.display = 'none'; };
    pm.onmouseleave = function () { this.style.display = 'none'; };
//    pm.onmousemove = function () { this.style.display = 'none'; };


    function hide_pm()
    {
        pm.style.display = 'none';
    }


    function sh()
    {
        document.getElementById('kkk').hidden = false; //   style.visibility = 'visible';
//        document.getElementById('kkk').style.display = 'block';
    }
    function sh1()
    {
        document.getElementById('kkk').hidden = true;
//        document.getElementById('kkk').style.visibility = 'hidden';
//       document.getElementById('kkk').style.display = 'none';
    }

    // Показать всплывающее меню
    function show_pm(mi) {

//        pm.innerHTML = mi + '<br>' + document.getElementById(mi).innerHTML + '<br>' + document.getElementById(mi).innerText;

        mie = document.getElementById(mi); // Элемент верхнего меню

        get_popup_menu(mie.innerText.trim());

//        c = getCoords(mie);

//        pm.style.top = c.top + tm.height;    // Размещаем в нужном месте
//        pm.style.left = c.left + 5 + 'px';
    }

    // Получить и показать всплывающее меню для данного пункта верхнего меню
    function set_popup_menu (reply)
    {
        pm.innerHTML = reply;

//        mie = document.getElementById(mi); // Элемент верхнего меню
        var c = getCoords(mie);

        pm.style.display = 'block';

        pm.style.top = c.top + tm.height;    // Размещаем в нужном месте
        pm.style.left = c.left + 5 + 'px';

//        setInterval(hide_pm, 5000);

         //  alert(reply);
    }
    function get_popup_menu(menu_item)
    {
       doQuery ('/users/get_popup_user_menu', set_popup_menu,
         "&menu_item=" + encodeURIComponent(menu_item)
       );
    }


    // Показать всплывающее меню
    function show_pm2(tag) {

        var tm2 =  document.getElementById('tmi'+tag);
        var pm2 =  document.getElementById('pm'+tag);
        pm2.style.display = 'block';

        coords = getCoords(tm2);

//        pm2.style.display = 'block';

        pm2.style.top = coords.top + tm2.height;    // Размещаем в нужном месте
        pm2.style.left = coords.left + 1 +'px';

    }
    // Показать всплывающее меню
    function hide_pm2(mi) {
       document.getElementById(mi).style.display = 'none';
    }







    function set_top_user_menu (reply)
    {
        document.getElementById("top_user_menu").innerHTML = reply;
      //  alert(reply);
    }

    function get_top_user_menu()
    {
        doQuery ('/users/get_top_user_menu', set_top_user_menu);
    }

    get_top_user_menu();

   // document.getElementById("top_user_menu").innerHTML = '';

</script>
