<div class="main_menu" id="main_menu">
    <nav>
        <a href="/">Главная</a> |
        <a href="/users/login">Вход</a> |
        <a href="/users/reg">Регистрация</a> xxx
    </nav>
</div>

<div id="user_menu"></div>



<script>

    let mmenuOK = function (reply)
    {
        document.getElementById("main_menu").innerHTML = "<nav>"+reply+"</nav>";
    }

    function get_main_menu()
    {
        doQuery ('/users/get_main_menu', mmenuOK);
    }

    get_main_menu();

</script>
