    <h1>Добро пожаловать!</h1>

<p>На текущий момент вы можете: <br>
- зарегистрироваться в системе, <br>
- заходить под своим именем и паролем и попадать на свою страницу,
    содержимое которой будет формироваться на основе ваших прав в системе.
<br>
<br>
    <b>Описание программы можно прочитать после регистрации и входа в систему.</b>
</p>
<br>


