<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel='stylesheet' href='/css/style.css' />
      <script src="/js/ajaxlib.js"></script>
      <script src="/js/doclib.js"></script>
  </head>
  <body>
    {{> header}}
    {{> menu_top}}

    <div class="wrapper_1" id="wrapper1">

        {{{body}}}

    </div>

    {{> footer}}
  </body>


</html>

<!--
<div class="wrapper_1" id="wrapper1">
    <div class="leftcol" id="leftcol" >

    </div>

    <div class="centercol" id="centercol">

    </div>

    <div class="rightcol" id="rightcol">
        2
    </div>
</div>

-->

<script>
 //   document.getElementById('wrapper1').onclick = hide_pm;

//    <div class="leftcol">
//        { {> menu}}
//    </div>






</script>