<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta name="viewport" content="width=800">

      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/javascripts/ajaxlib.js"></script>
  </head>
  <body>
    {{> header}}
    {{> menu}}

    {{{body}}}

    {{> footer}}
    </body>



</html>
