<h1>Структура программы</h1>

<p>
    Всё очень просто.<br>
    Программа просто является моделью части нашего реального мира.<br>
</p>
<h2>База данных</h2>
<p>
    Для хранения информации программа использует реляционную базу данных.<br>
    То есть <b>вся информация хранится в виде таблиц</b>.<br>
</p>
<h2>Справочники</h2>
<p>
    В них хранится информация о предметах, объектах и т.д.<br>
    <br> В программе на настоящее время есть следующие справочники:
    <br>
    <br><b>ЖБИ</b> (железо-бетонные изделия)
    <br><b>Формы</b> (оснастка) в которых формую ЖБИ
    <br><b>Подразделения</b> (пролёты) в которых делают ЖБИ
</p>
<h2>Отношения</h2>
<p>
    В отдельных таблицах описаны отношения между предметами (объектами).<br>
    <br>
    <b>Форма-ЖБИ</b>, в какой форме какие ЖБИ формуются, по сколько штук и время формовки.<br>
    <b>Подразделение-ЖБИ</b>, в каких подразделениях какие ЖБИ делают и трудоёмкость изготовления.<br>
    <b>Подразделения-формы</b>, в каких подразделениях сколько есть форм.<br>
</p>
<h2>Процессы</h2>
<p>
    Процесс - это последовательная смена состояний (с) словарь.<br>
    <br>
    Пока у нас один процесс, это производство ЖБИ.<br>
    Хотя процесс непрерывный, мы планируем его помесячно.<br>
    И этот период планирования так и называем план-месяц или просто <b>План</b>.<br>
    <br>
    <b>Для каждого Плана (периода планирования) нужно задать свои исходные параметры</b>.<br>
    <br>
    Сколько каких ЖБИ нужно изготовить (таблица ПланПроизводстваЖБИ).<br>
    И какие у нас есть ресурсы для этого (таблица ПланПроизводстваПоПролетам).<br>
</p>
<h2>Отчёты</h2>
<p>
    После того как всё это занесли, можно посмотреть сможем ли мы изготовить нужное количество ЖБИ
    исходя из имеющихся ресурсов.<br>
    Кнопки отчётов по пролётам пока находятся в таблице ПланПроизводстваПоПролетам.<br>
</p>
<h2>Интерфейс</h2>
<p>
    Интерфейс - это способ взаимодействия с программой.<br>
    Пока он просто никакой и над ним надо серьёзно поработать.<br>
    <br>
    Пока это просто черновой первый вариант.<br>
    <br>
</p>
<h2>Итоги</h2>
<p>
    Такие вот итоги работы на текущий момент, 1 августа 2018 года.<br>
    В сентябре продолжим с новыми силами и идеями.<br>
    <br>
    Я надеюсь.<br>
    <br>
</p>

Подробнее как я докатился до такой жизни можно почитать здесь
<a href=" http://metapoznanie.ru/etapi-bolshogo-puti ">здесь</a>.
<br>
<br>

