
:root {
  --main-font-size: 16px;
  --table-font-size: 16px;
}

/* Смартфон - вертикально * /
@media screen and (min-width:100px) and (max-width: 800px) and (orientation: portrait) {

  :root {
    --main-font-size: 34px;
    --table-font-size: 34px;
  }

}
/* Смартфон - горизонтально * /
@media screen and (min-width:100px) and (max-width:800px) and (orientation: landscape) {

  :root {
    --main-font-size: 22px;
    --table-font-size: 22px;
  }

}
*/

/* РАЗМЕТКА */

/* ТЕЛО */
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  Xfont-family: "Segoe UI", Arial, Tahoma, Verdana, Georgia, 'Times New Roman', Times, serif;
  Xfont-family: Tahoma;

  font-size: var(--main-font-size, medium);
  color: #333;
  padding: 3px;
  margin: auto;

}


DIV.left {
  float: left;
  Xmargin-right: 10px;
}
DIV.right {
  float: right;
  Xmargin-left: 10px;
}



/* ЗАГОЛОВОК */
DIV.header {
  text-align: left;
  padding: 0;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  color: darkviolet;
}
DIV.footer {
  margin-bottom: 3px;
  position: relative; /* Нужно для задания абсолютной позиции внутренних блоков */
  background-color: #afffdf;
}

DIV.header, DIV.footer, DIV.wrapper_1, DIV.wrapper {
  xmargin-left: 3px;
  xmargin-right: 3px;
  xpadding: 10px;
  width: 100%;

}

DIV.wrapper_1 {
  overflow: auto;
  line-height: 1.2;
  width: 100%;
}
DIV.wrapper_2 {
  overflow: auto;
  width: fit-content;
}

DIV.leftcol {
  float: left;
  width: 15%;
  background-color: #ffffdf;

  margin-right: 15px;
  /*background-color: #eee;*/
}
DIV.rightcol {
  float: right;
  width: 15%;
  background-color: #ffffcf;
}
DIV.centercol {
  float: left;
  width: 68%;
  background-color: honeydew;
}

/* А ЕСЛИ СМАРТФОН */
@media screen and (min-width:100px) and (max-width: 800px)
{
  DIV.leftcol {
    width: 100%;
  }
  DIV.rightcol {
    width: 100%;
  }
  DIV.center {
    width: 100%;
  }

}





/* ГЛАВНОЕ МЕНЮ (боковое) */
div.main_menu {
  padding: 13px;
  margin: auto;
  font-size: 15px;
}

/* ВЕРХНЕЕ МЕНЮ */
div.top_menu, .popup_menu {
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
  font-size: 16px;
  border: 1px solid lightgrey;

  background: lavender;
  color: dimgrey;
}

.top_menu_item, .popup_menu_item {
  color: dimgrey;
}
.popup_menu {
  color: dimgrey;
  background: lavender;
  display: none;
  position: absolute;
}

.popup_menu_item {
  margin-top: 3px;
}

div.top_menu_item {
  display: inline;

}


.top_menu_item:hover, .popup_menu_item:hover
{
  text-decoration: underline;
}








/* ССЫЛКИ */
a {
  color: #00B7FF;
  color: indigo;
  color: dimgrey;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ax:visited {
  color: midnightblue;
  color: grey;
}

label {
    text-align: right;
    padding-right: 5px;
    xcolor: midnightblue;
}

/* ============== Т А Б Л И Ц Ы ============== */
table {
  border: 0;
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: auto;
  font-size: var(--table-font-size, medium);
}
td {
  border: 0;
  border-collapse: collapse;
  padding: 3px;
}

thead {
  font-weight: bolder ;
}


table.grid {
    table-layout: fixed;
}
textarea.grid {
  width: 100%;
  xheight: 100%;
  xborder: 0;
  xrows: 1;
  font-size: var(--table-font-size, medium);
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  xposition:absolute;
  xtop:0;
  xbottom:0;
  xleft:0;
  xright:0;
}

/*
** Таблицы - сводный листок
*/
h1.svod {
  color: darkred;
  text-align: center;
}
table.svod {
  width: auto;
  padding: 1%;
  margin: 0;
  border: 1px solid lightgrey;
  border-collapse: collapse;

  align: left;
}
td.svod_head, td.svod_head1 {
  font-size: x-large;
  text-align: left;
  padding-left: 15px;
}
td.svod_head1 {
  color: navy;
  font-weight: bolder ;
}
td.svod_head {
  color: navy;
}
td.svod_label {
  font-size: x-large;
  border: 1px solid lightgrey;
  text-align: left;
  padding-left: 5px;
  color: darkcyan;
}
td.svod_digit {
  font-size: x-large;
  border: 1px solid lightgrey;
  text-align: right;
  padding-right: 5px;
  color: darkred;
}
/* Таблицы - сводный листок */

/*
** Пульс предприятия =================
*/

table.w100 {
    width: 100%;
}
div.puls0 {
  color: green;
  background-color: #eeeeee;
  text-align: center;

  margin: 10px;
  padding: 10px;

  width: 22%;

  border: 1px solid grey;
}
.pfont0 {
  font-size: xx-large;
  font-weight: bolder;
}


/* А ЕСЛИ СМАРТФОН */
@media screen and (min-width:801px) and (max-width: 1024px)
{
  div.puls0 {
    width: 43%;
  }


}

/* А ЕСЛИ СМАРТФОН */
@media screen and (min-width:100px) and (max-width: 800px)
{
  div.puls0 {
    width: 93%;
  }


}


div.puls1 {
  color: red;
}

div.puls {
  color: green;
  text-align: center;

  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;

  xwidth: 30%;

  border: 1px solid grey;
}
div.puls100 {
  color: green;
  text-align: center;
  margin: 2px;
  xborder: 1px solid red;
}
h1.puls {
  xcolor: green;
  xtext-align: center;
  width: 30%;
}

/* Пульс предприятия */


/* Таблицы-формы */
table.form {
  width: auto;
  padding: 1%;
  margin: 0;

  align: left;
}
table.days {
    width: 100%;
    border: 1px solid green;
}
td.right {
  text-align: right;
  padding-right: 5px;
}
td.left {
  text-align: left;
  padding-left: 5px;
}
td.input, td.day {
    border: 1px solid lightgrey;

}

select.td {
    xwidth:100%;
    xheight:100%;
    border: 0px solid lightgrey;
    font-size: var(--table-font-size, medium);
}

td.day, input.day {
    width: 45px;
}

label {
    color: dimgrey ;
}
.comment {
    color: darkgrey;
    color: lightgray;
}
.comment1 {
  color: lavender;
  color: darkgrey;
}


/* Таблицы-списки */
table.list, table.list10, thead.list {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
td.list {
  border: 1px solid lightgrey;
  overflow: hidden;
  white-space:nowrap;
}
table.list10 {
    font-size: var(--table-font-size, medium);;
}
/* Таблицы-отчёты */
table.report, thead.report {
  width: auto;
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
td.report {
  border: 1px solid lightgrey;
}


input.cell2 {
    xborder: 0;
    width: 100%;
    xheight: 95%;
    xpadding: 0;
    xmargin: 0;
    font-size: var(--table-font-size, medium);


}

tr:hover {
  background: #eee; /* Цвет фона при наведении */
}

tr.reports:hover {
  background: Window  /* Цвет фона при наведении */
}

div.erro {
  position: fixed;
  xtop: 82px; /* Расстояние от верхнего края */
  left: 0; /* Расстояние от левого края */
  bottom: 0;
  xright: 0;
  background: lightgray
 }
div.hint {
  position: fixed;
  xtop: 82px; /* Расстояние от верхнего края */
  left: 0; /* Расстояние от левого края */
  bottom: 32px;
  xright: 0;

}


.xy {
    position: absolute;
}
div.xyz {
    font-style: normal;
    background-color: aquamarine;
    left: 115px;
    position: absolute;
}

/* ============== В Ы Д Е Л Е Н И Е ============= */

.pink {color: #ee008c;}
.magenta {color: magenta;}
.yellow {color: coral}
.red {color: red;}
.green {color: green;}
.blue {color: blue;}
.maroon {color: maroon;}
.purple {color: purple;}
.indigo {color: indigo;}
.silver {color: silver;}
.grey {color: grey;}
.black {color: black;}
.darkcyan {color: darkcyan;}
.cyan {color: cyan;}


.whiteinblack {color: white; background-color: black}
. sday {color: khaki}


