body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

td {
    border: 0px solid black;
    padding: 5px;
}

table.form {
  border: 0 solid black;
  border-collapse: collapse;
#  width: 92%;
}

table.list {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  width: 85%;
}
td.list {
  padding: 3px;
  border: 1px solid black;
}


.center {
  text-align: center;
#  background-color: #ddd;
}

a {
#  color: blueviolet;
  color: #00B7FF;
}
