
:root {
  --main-font-size: 16px;
  --table-font-size: 16px;
}

/* Смартфон - вертикально * /
@media screen and (min-width:100px) and (max-width: 800px) and (orientation: portrait) {

  :root {
    --main-font-size: 34px;
    --table-font-size: 34px;
  }

}
/* Смартфон - горизонтально * /
@media screen and (min-width:100px) and (max-width:800px) and (orientation: landscape) {

  :root {
    --main-font-size: 22px;
    --table-font-size: 22px;
  }

}
*/
/* ТЕЛО */
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
#  font-family: "Segoe UI", Arial, Tahoma, Verdana, Georgia, 'Times New Roman', Times, serif;
#  font-family: Tahoma;

  font-size: var(--main-font-size, medium);
  color: #333;
  padding: 1%;
  margin: auto;
}

/* Заголовок */
div.header {
  text-align: center;
  padding: 0;
  margin: auto;
}

/* Ссылки */
a {
  color: #00B7FF;
}
a:hover {
  color: aquamarine;
}
ax:visited {
  color: darkcyan;
}

label {
    text-align: right;
    padding-right: 5px;
#    color: midnightblue;
}

/* Таблицы */
table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin: auto;
  font-size: var(--table-font-size, medium);
}
td {
  border: 0;
  border-collapse: collapse;
  padding: 3px;
}

/* Таблицы-формы */
table.form {
  width: auto;
  padding: 1%;
  margin: 0;

  align: left;
}
td.right {
  text-align: right;
  padding-right: 5px;
}
td.left {
  text-align: left;
}

/* Таблицы-списки */
table.list, thead.list {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
td.list {
  border: 1px solid lightgrey;
}
tbody tr:hover {
  background: #eee; /* Цвет фона при наведении */
}

