Добро пожаловать в систему, {{login}}!<br>
<br>
Заходи ещё!

<script>
    function init_user()
    {
        document.getElementById("main_menu").innerHTML='<nav><a href="/" >Главная</a> | <a href="/users/logout">Выход</a></nav>';
    }

    init_user();


</script>