
Добро пожаловать в систему, {{login}}!<br>
твой Id - {{uid}}<br>
твоё полное имя - {{fullname}}<br>
<br>
Нам всё известно!<br>
<br>
Заходи ещё!

<div id="hint" ></div>
<div id="erro"></div>

<script>


</script>