<br><br>
Добро пожаловать в систему, <b>{{login}}</b>!<br>
<br>
<br>
Теперь можно будет настроить ваше меню.<br>
<br><br>
Заходите ещё!<br>
<br><br><br><br><br>

<!--
ваше Id - {{uid}}<br>
ваше полное имя - {{fullname}}<br>
<br>
<br>
<br>

<b>Более подробно о программе читайте здесь: </b><a href="/notes">Описание программы</a>
-->
</p>


<div id="hint" ></div>
<div id="erro"></div>

<script>


</script>