<h1>Вход</h1>
<form name="userlogin" action="/users/login" method="POST">
    <table class="form">
        <tr>
            <td><label>Имя (логин):</label></td>
            <td><input id="login" type="text" name="login" value="{{login}}" onchange="check_data()">{{login}}</td>
        </tr>
        <tr>
            <td><label>Пароль:</label></td>
            <td><input id="password" type="password" name="password" value="" onclick="enable_batton()" onchange="check_data()" ></td>
        </tr>
<!--
        <tr>
            <td><label>А ты не робот? Проверка:</label></td>
            <td><input id="test" type="text" name="test" placeholder="11 х 11 =" value="" onchange="check_data()" ></td>
        </tr>
-->
        <tr>
            <td></td>
            <td>
                <button name="button_submit" type="button" onclick="check_data()">Вход</button>
                <button name="button_test" type="button" onclick="test()">test</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="hint" ></div>
                <div id="erro"></div>
            </td>
        </tr>
    </table>
</form>

<script>

    function login() {

//       userlogin.button_submit.disabled = false;
    }

    let check_logpass = function (reply)
    {
//        userlogin.button_submit.disabled = true;

        if (reply == "0") {
            info("Неправильное имя или пароль, попробуйте ещё раз!");
            return false;
        }

        info('');
        userlogin.submit();
//        userlogin.button_submit.disabled = false;
        return true;
    }

    function check_data()
    {
//        userlogin.button_submit.disabled = true;

        if (userlogin.login.value == "")
        {
            info("Поле 'Имя (логин)' не заполнено"+userlogin.login.value+".");
            return false;
        }
        if (userlogin.password.value == "")
        {
            info("Пароль не заполнен"+userlogin.password.value+".");
 //           return false;
        }
//        if (userlogin.test.value != "121")
//        {
//            info("А не робот ли ты?");
//            return false;
//        }
        // Запрос серверу, есть ли пользователь с такими логином и паролем
        doQuery ("/users/isValidUser", check_logpass,
                "&login=" + encodeURIComponent(userlogin.login.value)+
                "&password=" + encodeURIComponent(userlogin.password.value)
        );
        return false;
    }

    function info(str)
    {
        document.getElementById("hint").innerHTML=str;
    }


    let test_reply = function (reply)
    {
        info("reply="+reply+".");
        return false;
     }
    function test()
    {
       info("Пароль ="+userlogin.password.value+".");

        doQuery ("/users/test_reply",  test_reply,
                "&login=" + encodeURIComponent(userlogin.login.value)+
                "&password=" + encodeURIComponent(userlogin.password.value)
        );
       return false;
    }

</script>