<h1>Вход</h1>
<form name="userlogin" action="/users/login" method="POST">
    <table class="form">
        <tr>
            <td><label>Login:</label></td>
            <td><input id="login" type="text" name="login" value="{{login}}" onchange="check_data()">{{login}}</td>
        </tr>
        <tr>
            <td><label>Пароль:</label></td>
            <td><input id="password" type="password" name="password" value="" onchange="check_data()" ></td>
        </tr>
        <tr>
            <td><label>А ты не робот? Проверка:</label></td>
            <td><input id="test" type="text" name="test" placeholder="11 х 11 =" value="" onchange="check_data()" ></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button name="button_submit" type="submit" disabled="true" >Вход</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="hint" ></div>
                <div id="erro"></div>
            </td>
        </tr>
    </table>
</form>

<script>

    function check_data()
    {
        userlogin.button_submit.disabled = true;

        if (userlogin.login.value == "")
        {
            info("Поле 'Login' не заполнено");
            return false;
        }
        if (userlogin.password.value == "")
        {
            info("Пароль не заполнен");
            return false;
        }
        if (userlogin.test.value != "121")
        {
            info("А не робот ли ты?");
            return false;
        }

        // Запрос серверу, есть ли пользователь с такими логином и паролем
        doPostQuery ("/users/isValidUser",
                "&login=" + encodeURIComponent(userlogin.login.value)+
                "&password=" + encodeURIComponent(userlogin.password.value)
        );
        return false;
    }

    function info(str)
    {
        document.getElementById("hint").innerHTML=str;
    }

    function check_logpass()
    {
        var reply = xhr.responseText;

        userlogin.button_submit.disabled = true;

        if (reply == "0") {
            info("Неправильное имя или пароль, попробуйте ещё раз!");
            return false;
        }

        info(reply);
        userlogin.button_submit.disabled = false;
        return true;
    }
    onOK = check_logpass;

</script>