<form action="/users/login" method="POST">
    <table class="form">
        <tr>
            <td><label>Login:</label></td>
            <td><input id="login" type="text" name="login" placeholder="Ваш логин" value="" ></td>
        </tr>
        <tr>
            <td><label>Пароль:</label></td>
            <td><input id="password" type="password" name="password" value="" ></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" disabled="true" >Вход</button>
                <!--    <button id=adduser type="button" onclick='clear_form()'>Добавить</button>
        <a href="/users/id/{{login}}">Показать ид, логин = {{login}}  </a> -->
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="hint" ></div>
            </td>
        </tr>
    </table>
</form>

<script>

    function clear_form()
    {
//  alert(document.getElementById("login").value);
        document.getElementById("id").value="0";
        document.getElementById("login").value="";
        document.getElementById("phone").value="";
        document.getElementById("hint").innerHTML="Добавление нового пользователя";
    }

</script>