<span id="doc_name">{{doc_name}}</span>
<br>х<!-- 55 -->х<br>
<div id="doc"></div>

<div id="hint" class="green"></div>
<div id="erro" class="red" ></div>

<script>

    // Описание открываемого документа, в дальнейшем оно будет получаться из соответствующих таблиц БД
    var table_names = ['table_s'];
    var table_ids = [1148];

    init_doc(777, "{{doc_name}}");

</script>