<div id="tables" title="Список таблиц из table_s"></div>
<br>
<br>
<div id="table_fields" title="Поля выбранной таблицы"></div>
<br>
<br>
<div id="table" title="Содержимое выбранной таблицы"></div>


<div id="t_name" class="magenta" title="Название выбранной таблицы"></div>

<div id="hint" class="green"></div>
<div id="erro" class="red" ></div>



<script>

    var s_values = "";
    var s_labels = "";
    var s_names = "";
    var s_pkey = "";
    var s_pkey_num = "";
    var s_old_pkey = "";
    var s_types = "";
    var r_length = 0;

    //
    // Сохранить строку
    //
    function save_row(t) {
        var r = t.parentNode.parentNode; // текущая строка

//        var fc = document.getElementById("f_names").innerHTML.split(','); // Массив имен полей таблицы
        r_length = +document.getElementById("f_names").innerHTML.split(',').length; // Кол-во полей таблицы, следующее поле - кнопки, следующие поля - старые значения ключевых полей

        s_pkey = document.getElementById("t_pk_f").innerHTML;
        s_pkey_num = s_pkey.split(',').length;

//        for (var ii = 0; ii < r.cells.length; ii++){

        s_record = "";
//        for (var ii = 0; ii < r_length; ii++){
//            s_record = s_record + r.cells[ii].innerHTML + '|';
//        }

//        for (var ii = 0; ii < r.cells.length; ii++){
        for (var ii = 0; ii < r_length+1+s_pkey_num; ii++){
            if (ii != r_length)
                s_record = s_record + r.cells[ii].innerHTML + '|';
        }



//        var x = r.cells[2].innerHTML;
        s_old_pkey = "";
        for (var ii = r_length+1; ii < r_length + s_pkey_num+1; ii++){
            s_old_pkey = s_old_pkey + r.cells[ii].innerHTML + '|';
        }

//        erro(s_record + '+++|' + s_old_pkey);
        erro(s_record);


//        alert(t.parentNode.nextSibling.nodeValue);

//        if ( confirm("Сохранить строку "+r.cells[1].innerHTML+" ?") ) alert('x');

        //
            doQuery ("/docs/save_row", check_save_row,
                    "&s_record=" + encodeURIComponent(s_record)+
                    "&f_names=" + encodeURIComponent(document.getElementById("f_names").innerHTML)+
                    "&f_types=" + encodeURIComponent(document.getElementById("f_types").innerHTML)+
                    "&s_pkey_num=" + encodeURIComponent(s_pkey_num)
            );
    }
    function check_save_row(reply)
    {
        if (reply.substr(0,1) == '+') // Строка сохранена в базе данных
        {
            // r.innerHTML = '';
        }
        document.getElementById("hint").innerHTML=reply;
    }



    //
    // Удалить строку
    //
    function delete_row(t) {
        r = t.parentNode.parentNode; // текущая строка

        if ( confirm("Удалить строку "+r.cells[1].innerHTML+" ?") ) alert('x');

        // здесь удалить из Базы Данных
//            doQuery ("/plan2/armprihod_delete_row", check_delete_row,
//                    "&doc_id=" + encodeURIComponent(document.getElementById("doc_id").value)+
//                    "&old_arm_name=" + encodeURIComponent(r.cells[3].innerHTML)
//            );
    }
    function check_delete_row(reply)
    {
        if (reply.substr(0,1) == '+') // Строка успешно удалена из базы данных
        {
            r.innerHTML = '';
        }
//        document.getElementById("hint").innerHTML=reply;
    }








    // Показать таблицу
    var set_table = function (reply)
    {
        document.getElementById("table").innerHTML = reply;
    };
    function get_table(t_rf, t_name, t_label)
    {
        document.getElementById("t_name").innerHTML = t_name;
        doQuery ("/docs/get_table", set_table,
                "&t_rf=" + encodeURIComponent(t_rf) +
                "&t_name=" + encodeURIComponent(t_name) +
                "&t_label=" + encodeURIComponent(t_label)
        );
    }

    // Показать поля таблицы
    var set_table_fields = function (reply)
    {
        document.getElementById("table_fields").innerHTML = reply;
    };
    function get_table_fields(t_rf)
    {
        doQuery ("/docs/get_table_fields", set_table_fields, "&t_rf=" + encodeURIComponent(t_rf));
    }

    // Показать список таблиц
    var set_tables = function (reply)
    {
        document.getElementById("tables").innerHTML = reply;
    };
    function get_tables()
    {
        doQuery ("/docs/get_tables", set_tables);
    }

    get_tables();   // Показать список таблиц

</script>